body{
	background:lightyellow;
	color:green;
	text-align: center;
	width: 250px;
	margin: auto;
}
.mark{
	font-size: 15pt;
}
a{
	font-size: 10pt;
}
p{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	margin-top: -15px;
}
h1{
	color: blue;
}
h2{
	color: red;
}
